<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product App</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
    <div class="nav-bar"></div>

    <div id="app">

        <div class="product">

            <div class="product-image">
                <img 
                    v-bind:src="image"
                    v-bind:alt="altText"
                />
            </div>

            <div class="product-info">
                <h1>{{product}}</h1>
                <p>{{description}}</p>

                <p v-if="inventory > 10 && inStock">In stock</p>
                <p v-else-if="inventory <= 10 && inventory > 0 && inStock">Almost sold out!</p>
                <p
                    v-else
                    :class="{outOfStock: !inStock}"
                >
                    Out of stock
                </p>

                <span v-show="onSale">On Sale</span>

                <ul>
                    <li v-for="detail in details">{{detail}}</li>
                </ul>

                <div
                    class="color-box"
                    v-for="variant in variants"
                    :key="variant.variantId"
                    :style="{backgroundColor: variant.variantColor}"
                    @mouseover="updateProduct(variant.variantImage)"
                ></div>

                <ul>
                    <li v-for="size in sizes">{{size}}</li>
                </ul>

                <div class="cart">
                    <p>Cart({{cart}})</p>
                </div>
                <div class="btn-block">
                <button 
                    v-on:click="addToCart"
                    :disabled="!inStock"
                    :class="{disabledButton: !inStock}"
                >
                    Add to cart
                </button>
                <button
                    v-on:click="removeFromCart"
                    :disabled="!inStock || cart < 1"
                    :class="{disabledButton: !inStock || cart < 1}"
                >
                    Remove from cart
                </button></div>
            </div>

            <a 
                v-bind:href="link"
            >
                More products like this.
            </a>

        </div>

    </div>
    
    <script src="https://unpkg.com/vue"></script>
    <script src="main.js"></script>
</body>
</html>
